/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


// @import url("components/avatar.css");

// @import url("components/features.css");
.wrapper-grey {
  background: #F4F4F4;
}

.search{
  padding: 60px 60px 60px 60px;
  width: auto;
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 5px;
  border: none;
}

.form-line{
  padding: 5px;
}

.cardrow{
  padding-top: 80px;
}

label{
  padding-right: 10px;
  padding-left: 10px;}

