<div class="container">
  <% @bookings.each do |booking| %>
    <div class="product">
      <img src="http://lorempixel.com/80/80" class="product-image" alt="">
      <div class='product-body'>
        <h3><%= booking.bike.title %> </h3>
        <p> <%= booking.bike.detail[0...100]%></p>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
           <li> Début de location : <%= booking.start_date.day %></li>
          </li> Fin de location : <%= booking.end_date.day %> </li>
        </ul>
      </div>
      <ul class="list-inline product-controls hidden-sm hidden-xs">
        <% if booking.status == "waiting" %>
          <i class="fa fa-spinner" aria-hidden="true"> Votre demande est en attente </i>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
