.banner{
  display: flex;
  background-image: url('backgound_bike.jpg');
  align-items: center;
  justify-content: space-around;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.banner-content h1{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
  font-style: 'Raleway', bold;
  font-size: 50px;
}

.banner-content p{
  font-style: 'Open Sans', thin ;
  font-size: 25px;
  color:#DEE8EF;
  padding-bottom: 40px;
}
