
/* Controls design */
.product-controls {
  font-weight: lighter;
  color: grey;
  margin: 0px;
  display:flex;
  align-items: center;
  padding: 30px;
}

.product-controls a {
  font-size: 17px;
  color: black;
  padding:50px;
}

.booking-container {
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 30px;
}
.product-controls-accept a:hover {
  color: green  !important
}
.product-controls-refuse a:hover {
  color: #D3473C!important
}

