.user_form{
  background-color: $background-grey;
  padding: 25px;
}

.user_form h1{
  text-align: center;
  margin-bottom: 40px;
}


.wrapper_for_user_form{
  background-color: $background-grey;
}


.wrapper_for_user_form h1{
  text-align: center;
  margin-bottom: 40px;
}


.wrapper_for_user_form h2{
  margin-top: 10px;
  padding: 10px;
}


.post-form-inline{
  padding-top: 15px;
}
